# keep what the build needs
node_modules
.next
.cache
.git
.gitignore
Dockerfile*
cloudbuild*.yaml
public/data
**/*.log
**/*.tmp

# allow these (do NOT ignore them)
!package.json
!package-lock.json
!tsconfig.json
!tsconfig.scripts.json
!scripts/**
!public/**
