# keep what the build needs
node_modules
.next
.cache
.git
.gitignore
Dockerfile*
cloudbuild*.yaml
public/data
**/*.log
**/*.tmp
**/node_modules
**/.next
**/dist
**/.cache

# allow these (do NOT ignore them)
!package.json
!package-lock.json
!tsconfig.json
!tsconfig.scripts.json
!scripts/**
!public/**
!cloudbuild-app.yaml
!Dockerfile
!apps/**/package.json
!packages/**/package.json